# Archivos de caché y dependencias
/.phpunit.cache
/node_modules
/vendor

# Salida de build y archivos temporales de Vite/Laravel
# /public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail

# Archivos de entorno y configuración sensible
.env
.env.backup
.env.production
/auth.json

# Archivos de configuración y caché de herramientas
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml

# Logs y errores de npm/yarn
npm-debug.log
yarn-error.log
/*.log

# Configuración de IDEs y herramientas de desarrollo
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Archivos temporales y del sistema operativo
/.DS_Store
Thumbs.db

# Custom
/.documentation
